header {
    color: #bada55;
    margin-top: auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif light;
    background-color: #B58A69;
}


body {
    margin: auto;
    width: auto;
    height: 1200px;
    background-color: white;
    text-align: center;
    border-right: 50px;

}



.row {
    display: flex;
    flex-wrap: wrap;
}

#menu {
    height: 65%;
    display: flex;
    background-color: #fcfcfc;
    margin: 1em;
    border-radius: 5px;
}

#contenido {
    height: 500px;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif 32px;
    background-color: #b5bf9a;
    margin: 50px;
    display: inline-block;
    border-radius: 5px;
    text-align: justify;
    font-size: 32px;
}


#pie {
    height: auto;
    background-color: #5e5e4a;
    text-align: center;
    padding: 5px;
}

img {
    margin: auto;
    height: 220px;
    width: 350px;

    border-radius: 5px;
    justify-items: center;

}

.text {

    color: #000;

}

li {
    display: inline;
    padding: 5px, 15px;
    margin: 0.5em;
}


li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}

button {

    background-color: #5e5e4a;

}

nav{

font-family: Arial, Helvetica, sans-serif;
color: #000;

}